<div class="landing-bg" src="img/bg-01.png">
    <div class="row">
        <div class="container">
            <center>
                <div class='landing-form'>
                    <a ui-sref="login" class="pull-left pad" title="Back to Login"><i class="fa fa-arrow-left fa-lg"></i></a>
                    <div class="landing-logo-bg pad_20">
                        <center><img class="landing-logo" src="img/entec.png" alt="">
                        </center>

                    </div>
                    <div class="pad mar" >
                        <h2>Enter Your New Password</h2>
                        <form ng-controller="VerificationController" name="newPasswordForm">
                            <input placeholder='New Password' type='password' ng-model='password.newPassword' name="newPassword">
                            <input placeholder='Confirm Password' type='password' ng-model='password.confirmPassword' name="confirmPassword" data-match="password.newPassword">
                            <div ng-show="newPasswordForm.confirmPassword.$error.match">Fields do not match!</div>
                            
                            <button class='animated' ng-click="changePassword(password)">Reset Password</button>
                        </form>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
